{% extends 'encyclopedia/layout.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>New Entry</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" required class="form-control" name="title" id="title" aria-describedby="emailHelp"
                        placeholder="Enter a title for your markdown (no special characters like ?, $)">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea type="text" required class="form-control" name="content" id="content"
                        placeholder="Your markdown text (start with a Title)" rows="8"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}